atlassian-ide-plugin.xml
*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans
target
/bin
.gradle
build
.classpath
.project

*~

# IDEA metadata and output dirs
*.iml
*.ipr
*.iws
.idea
out

# IVY/Scala flotsam
.cache-main
.cache-tests
